# <p style='text-align:center'><font color = green|>Cinema Database System Project

In [2]:
import pandas as pd
import sqlite3 as sq

In [2]:
# We will sqlite3 library and create a connection
cnn = sq.connect('jupyter_sql_tutorial.db')
# df.to_sql('people', cnn)
%load_ext sql
%sql sqlite:///jupyter_sql_tutorial.db

### <font color = green|><b>I.) Create Table

```
Movie Table
```

In [3]:
%%sql
CREATE TABLE Movie(
    movieID INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    movieName VARCHAR(200) NOT NULL,
    movieType VARCHAR(300) NOT NULL,                   
    movieReleaseDate DATE NOT NULL,
    movieDuration TIME NOT NULL,
    movieRating FLOAT NOT NULL,
    movieDescription VARCHAR(400)
);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

```
Theater Table
```

In [4]:
%%sql
CREATE TABLE Theater(
    theaterID INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    theaterName VARCHAR(60) NOT NULL,
    theaterCapacity INT,
    theaterAddress VARCHAR(70) NOT NULL,
    theaterOpenTime TIME NOT NULL,
    theaterCloseTime TIME NOT NULL
);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

```
Scheduled Table
```

In [5]:
%%sql
CREATE TABLE Scheduled(
    showMovieID INT AUTO_INCREMENT PRIMARY KEY NOT NULL, 
    movieID INT NOT NULL,
    theaterID INT NOT NULL,
    showMovieDate DATETIME NOT NULL,
    FOREIGN KEY(theaterID) REFERENCES Theater(theaterID),
    FOREIGN KEY(movieID) REFERENCES Movie(movieID)
);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

```
Customer Table
```

In [6]:
%%sql
CREATE TABLE Customer(
    customerID INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    customerName VARCHAR(50) NOT NULL,
    customerGender CHAR,
    customerAge INT NOT NULL,
    customerEmail VARCHAR(45),
    customerPhone VARCHAR(30) NOT NULL
);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

```
Ticket_booking Table
```

In [7]:
%%sql 
CREATE TABLE Ticket_booking(
    ticketID INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    customerID INT NOT NULL,
    showMovieID INT NOT NULL,
    price FLOAT NOT NULL,
    FOREIGN KEY(customerID) REFERENCES Customer(customerID),
    FOREIGN KEY(showMovieID) REFERENCES Scheduled(showMovieID)
);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

In [22]:
%%sql 
SELECT * FROM movie;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

In [29]:
%%sql 
SELECT * FROM theater;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

In [31]:
%%sql 
SELECT * FROM Scheduled;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

In [30]:
%%sql 
SELECT * FROM Ticket_booking;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

In [32]:
%%sql 
SELECT * FROM Customer;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

In [3]:
sheetid = '1ytdqI93_efnNYrK3h9LMPbD4PpBro9L3kEHK0290T8w'
df = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheetid}/export?format=csv")
df

,movieName,movieType,movieReleaseDate,movieDuration,movieRating,movieDescription
0,The Avengers,Action,2020-05-22,02:30:00,8.5,Earth's mightiest heroes team up to save the w...
1,Titanic,Romance,1997-12-19,03:15:00,7.8,A tragic love story set aboard the RMS Titanic.
2,Inception,Sci-Fi,2010-07-16,02:28:00,8.8,A thief enters people's dreams to steal inform...
3,The Lion King,Animation,1994-06-24,01:29:00,8.5,A young lion prince must reclaim his throne.
4,The Dark Knight,Action,2008-07-18,02:32:00,9.0,Batman faces off against the Joker.
5,Frozen,Animation,2013-11-27,01:42:00,7.5,A fearless princess sets off on a journey to f...
6,Jurassic Park,Adventure,1993-06-11,02:07:00,8.1,Scientists create a theme park with geneticall...
7,Avatar,Sci-Fi,2009-12-18,02:42:00,7.8,A paralyzed marine is sent to the planet Pando...
8,Finding Nemo,Animation,2003-05-30,01:40:00,8.1,A clownfish embarks on a journey to find his son.
9,Pulp Fiction,Crime,1994-10-14,02:34:00,8.9,Interconnected stories of criminals in Los Ang...
10,The Shawshank Redemption,Drama,1994-09-23,02:22:00,9.3,"Two imprisoned men bond over several years, fi..."
11,Interstellar,Sci-Fi,2014-11-07,02:49:00,8.6,A group of explorers travel through a wormhole...
12,The Godfather,Crime,1972-03-24,02:55:00,9.2,The aging patriarch of an organized crime dyna...
13,The Matrix,Sci-Fi,1999-03-31,02:16:00,8.7,A computer hacker learns about the true nature...
14,Forrest Gump,Drama,1994-07-06,02:22:00,8.8,A simple man experiences firsthand some of the...
15,The Lord of the Rings: The Fellowship of the Ring,Fantasy,2001-12-19,02:58:00,8.8,A hobbit sets out on a journey to destroy a po...
16,Toy Story,Animation,1995-11-22,01:21:00,8.3,Toys come to life when humans are not present.
17,Inglourious Basterds,War,2009-08-21,02:33:00,8.3,A group of Jewish U.S. soldiers plan to assass...
18,The Avengers: Endgame,Action,2019-04-26,03:01:00,8.4,The Avengers assemble for one final showdown a...
19,The Social Network,Drama,2010-10-01,02:00:00,7.7,The story of the creation of Facebook.
20,The Silence of the Lambs,Thriller,1991-02-14,01:58:00,8.6,An FBI trainee seeks the help of a manipulativ...

In [4]:
df.to_csv('movie.csv')