## <p style= 'text-align:center'><font color = green|>Data Pattern of Cinema Management System

### <font color = green|>Theater Data

Sure! Here's an example of generated data for the "Theater" table with attributes (Id, name, type, capacity, price):

| Id | Name          | Type       | Capacity | Price |
|----|---------------|------------|----------|-------|
| 1  | Regal Cinema  | Multiplex  | 200      | $10   |
| 2  | AMC Theatres  | IMAX       | 150      | $12   |
| 3  | Cinemark      | Standard   | 180      | $8    |
| 4  | Odeon Cinema  | Multiplex  | 250      | $11   |
| 5  | Cineplex      | IMAX       | 300      | $13   |
| 6  | Vue Cinemas   | Standard   | 120      | $7    |
| 7  | Showcase      | Multiplex  | 180      | $10   |
| 8  | Galaxy Theater| IMAX       | 140      | $12   |
| 9  | Cineworld     | Standard   | 200      | $9    |
| 10 | Landmark      | Multiplex  | 250      | $11   |
| ...| ...           | ...        | ...      | ...   |

Please note that this is just a sample data and the values are randomly generated. In a real-world scenario, the data would be based on actual theaters and their corresponding attributes.

### <font color = green|>Staff Data

Certainly! Here's an example of generated data for the "Staff" table with attributes (Id, Name, Gender, Position, PhoneNumber, Email, StaffId):

| Id | Name          | Gender | Position      | PhoneNumber   | Email                    | 
|----|---------------|--------|---------------|----------------|--------------------------|
| 1  | Sarah Davis   | Female | Ticket Seller | 456-789-0123   | sarah.davis@example.com  |
| 2  | Mark Johnson  | Male   | Usher         | 789-012-3456   | mark.johnson@example.com |
| 3  | Emma Wilson   | Female | Concessionaire| 234-567-8901   | emma.wilson@example.com  |
| 4  | David Thompson| Male   | Usher         | 567-890-1234   | david.thompson@example.com|
| 5  | Jessica Adams | Female | Ticket Seller | 789-012-3456   | jessica.adams@example.com|
| 6  | Robert Brown  | Male   | Usher         | 901-234-5678   | robert.brown@example.com |
| 7  | Olivia Moore  | Female | Concessionaire| 345-678-9012   | olivia.moore@example.com |
| 8  | William Clark | Male   | Usher         | 678-901-2345   | william.clark@example.com|
| 9  | Sophia Hall   | Female | Ticket Seller | 890-123-4567   | sophia.hall@example.com  |
| 10 | Daniel Lee    | Male   | Usher         | 123-456-7890   | daniel.lee@example.com   |
| ...| ...           | ...    | ...           | ...            | ...                      |

Please note that this is just a sample data and the values are randomly generated. In a real-world scenario, the data would be based on actual staff members and their corresponding attributes.

### <font color = green|>Customer Data

Certainly! Here's an example of generated data for the "Customer" table with attributes (Id, Name, Sex, Age, Phone_Number):

| Id | Name           | Sex    | Age | Phone_Number  |
|----|----------------|--------|-----|---------------|
| 1  | Emily Wilson   | Female | 25  | 345-678-9012  |
| 2  | Michael Brown  | Male   | 32  | 678-901-2345  |
| 3  | Sophia Davis   | Female | 28  | 901-234-5678  |
| 4  | Benjamin Johnson| Male   | 41  | 234-567-8901  |
| 5  | Olivia Thompson| Female | 30  | 890-123-4567  |
| 6  | Ethan Clark    | Male   | 27  | 456-789-0123  |
| 7  | Ava Wilson     | Female | 35  | 789-012-3456  |
| 8  | Noah Hall      | Male   | 29  | 123-456-7890  |
| 9  | Sophia Adams   | Female | 24  | 567-890-1234  |
| 10 | Liam Moore     | Male   | 31  | 901-234-5678  |
| ...| ...            | ...    | ... | ...           |

Please note that this is just a sample data and the values are randomly generated. In a real-world scenario, the data would be based on actual customers and their corresponding attributes.

### <font color = green|>Movie Ticket Data

Certainly! Here's an example of generated data for the "Movie_ticket" table with attributes (Id, theater_id, Movie_id, date_time, customer_id):

| Id | theater_id | Movie_id | date_time           |
|----|------------|----------|---------------------|
| 1  | 1          | 1        | 2023-05-23 18:00:00 | 
| 2  | 2          | 2        | 2023-05-23 19:30:00 | 
| 3  | 1          | 1        | 2023-05-24 20:00:00 | 
| 4  | 3          | 3        | 2023-05-24 21:30:00 | 
| 5  | 2          | 2        | 2023-05-25 18:00:00 | 
| 6  | 1          | 4        | 2023-05-25 19:30:00 | 
| 7  | 3          | 3        | 2023-05-26 20:00:00 | 
| 8  | 2          | 5        | 2023-05-26 21:30:00 | 
| 9  | 1          | 4        | 2023-05-27 18:00:00 | 
| 10 | 3          | 6        | 2023-05-27 19:30:00 | 
| ...| ...        | ...      | ...                 | 

Please note that this is just a sample data and the values are randomly generated. In a real-world scenario, the data would be based on actual movie tickets purchased by customers and their corresponding attributes such as theater_id, Movie_id, date_time, and customer_id.

### <font color = green|>Movie Data

Certainly! Here's an example of generated data for the "Movie" table with attributes (Id, Name, Release_date, Duration):

| Id | Name              | Release_date | Duration |
|----|-------------------|--------------|----------|
| 1  | Avengers: Endgame | 2019-04-26   | 181      |
| 2  | The Lion King     | 2019-07-19   | 118      |
| 3  | Spider-Man: Far From Home | 2019-07-02 | 129  |
| 4  | Joker             | 2019-10-04   | 122      |
| 5  | Inception         | 2010-07-16   | 148      |
| 6  | Black Panther     | 2018-02-16   | 134      |
| 7  | The Dark Knight   | 2008-07-18   | 152      |
| 8  | Titanic           | 1997-12-19   | 195      |
| 9  | Avatar            | 2009-12-18   | 162      |
| 10 | Toy Story 4       | 2019-06-21   | 100      |
| ...| ...               | ...          | ...      |

Please note that this is just a sample data and the values are randomly generated. In a real-world scenario, the data would be based on actual movies and their corresponding attributes such as Name, Release_date, and Duration.

### <font color = green|>Schedule Data

Certainly! Here's an example of generated data for the "schedule" table with attributes (Id, theater_id, Movie_id, date_time):

| Id | theater_id | Movie_id | date_time           |
|----|------------|----------|---------------------|
| 1  | 1          | 1        | 2023-05-23 18:00:00 |
| 2  | 2          | 2        | 2023-05-23 19:30:00 |
| 3  | 1          | 1        | 2023-05-24 20:00:00 |
| 4  | 3          | 3        | 2023-05-24 21:30:00 |
| 5  | 2          | 2        | 2023-05-25 18:00:00 |
| 6  | 1          | 4        | 2023-05-25 19:30:00 |
| 7  | 3          | 3        | 2023-05-26 20:00:00 |
| 8  | 2          | 5        | 2023-05-26 21:30:00 |
| 9  | 1          | 4        | 2023-05-27 18:00:00 |
| 10 | 3          | 6        | 2023-05-27 19:30:00 |
| ...| ...        | ...      | ...                 |

Please note that this is just a sample data and the values are randomly generated. In a real-world scenario, the data would be based on actual schedules for movies in theaters and their corresponding attributes such as theater_id, Movie_id, and date_time.